@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-top: 1.5rem; }

* {
  box-sizing: border-box; }

.wiki-click {
  cursor: pointer; }
  .wiki-click:hover {
    text-decoration: underline; }

#select-set-box {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 2rem; }
  #select-set-box select {
    font-size: 1.5rem;
    -webkit-appearance: none;
    padding: 0.25rem 0.5rem;
    margin-left: 0.6rem;
    -moz-appearance: none;
    font-family: 'Roboto', sans-serif;
    appearance: none;
    outline: none; }
    #select-set-box select:hover {
      border-color: #bbb; }

table {
  border-collapse: collapse;
  margin: 1rem;
  border: thin solid #bbb; }
  table td:first-child {
    padding-left: 1rem; }
  table td:last-child {
    padding-right: 1rem; }
    table td:last-child::after {
      content: '';
      display: none; }
  table td {
    border-bottom: thin solid #bbb;
    padding: 0.5rem;
    padding-right: 2rem;
    position: relative; }
    table td div {
      max-height: 12.5rem;
      overflow-y: auto; }
    table td::after {
      content: '\002192';
      position: absolute;
      left: calc(100% - 2rem);
      height: 100%;
      font-size: 2rem;
      top: 38%; }

.padded-div {
  padding: 1rem;
  width: 80%;
  margin: 0 auto; }

.li-columns-3 {
  columns: 3;
  list-style-type: none; }
  .li-columns-3 li::before {
    content: "• "; }

#header {
  width: 100%;
  height: 3rem;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.95);
  align-items: center;
  border-bottom: 0.125rem solid #eee;
  padding: 0 1rem;
  font-family: 'Montserrat', sans-serif; }
  #header .header-item {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    margin: 0 0.25rem;
    transition: all 0.2s; }
    #header .header-item:hover {
      background-color: #eee; }
    #header .header-item:active {
      background-color: #ccc; }
  #header #search {
    position: absolute;
    right: 1.25rem; }
    #header #search input {
      outline: none;
      border: 0.125rem solid #eee;
      font-family: 'Roboto', sans-serif;
      height: 1.75rem;
      width: 12.5rem;
      padding: 0 0.25rem;
      transition: all 0.2s; }
      #header #search input:hover {
        border-color: #ccc; }
      #header #search input:focus {
        border-color: #bbb; }
    #header #search #results {
      width: 20rem;
      position: absolute;
      top: 2.125rem;
      right: 0rem;
      border: 0.125rem solid #bbb;
      box-shadow: 0 0 1rem rgba(50, 50, 50, 0.1875);
      height: 5rem;
      background-color: #fff;
      opacity: 0;
      pointer-events: none;
      transition: 0.2s; }
      #header #search #results::before, #header #search #results::after {
        content: '';
        display: inline-block;
        position: absolute;
        right: 0.25rem;
        top: -0.5rem;
        border-left: 0.5rem solid transparent;
        border-right: 0.5rem solid transparent;
        border-bottom: 0.5rem solid #bbb;
        opacity: 0;
        pointer-events: none;
        transition: all 0.2s; }
      #header #search #results::after {
        border-left: 0.35rem solid transparent;
        border-right: 0.35rem solid transparent;
        border-bottom: 0.35rem solid #ffffff;
        left: 16.7rem;
        margin-left: 2rem;
        position: relative;
        top: -5.7rem; }
      #header #search #results #resultsBox {
        overflow-y: auto;
        width: 100%;
        height: 100%;
        padding: 0.25rem 0; }
        #header #search #results #resultsBox #noResults {
          height: 100%;
          line-height: 100%;
          text-align: center;
          padding-top: 1.75rem; }
          #header #search #results #resultsBox #noResults:hover {
            background-color: #fff; }
        #header #search #results #resultsBox div {
          padding: 0 1rem;
          cursor: default;
          font-family: 'Roboto', sans-serif; }
          #header #search #results #resultsBox div:hover {
            background-color: #eee; }
  #header #search.show-results input {
    border-color: #bbb; }
  #header #search.show-results #results, #header #search.show-results #results::before, #header #search.show-results #results::after {
    opacity: 1;
    pointer-events: all; }

#html {
  width: 60%;
  margin: 1rem auto; }

/*# sourceMappingURL=bundle.css.map */
