html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;

	padding-top: 1.5rem;
};

* {
	box-sizing: border-box;
}

$color-lightgray: #eee;
$color-lightgray-d: #ccc;
$color-gray: #bbb;

@import "table";
@import "404";

.padded-div {
	padding: 1rem;
	width: 80%;
	margin: 0 auto;
}
.li-columns-3 {
	columns: 3;
	list-style-type: none;

	li::before {
  		content: "• ";
	}
}

#header {
	width: 100%;
	height: 3rem;
	display: flex;
	position: fixed;
	top: 0;
	z-index: 2;
	background-color: rgba(256,256,256,0.95);
	align-items: center;
	border-bottom: 0.125rem solid $color-lightgray;
	padding: 0 1rem;
	font-family: 'Montserrat', sans-serif;

	.header-item {
		padding: 0.5rem 1rem;
		border-radius: 0.25rem;
		cursor: pointer;
		margin: 0 0.25rem;
		transition: all 0.2s;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		&:hover {
			background-color: $color-lightgray;
		}
		&:active {
			background-color: $color-lightgray-d;
		}
		
	}

	#search {
		position: absolute;
		right: 1.25rem;

		input {
			outline: none;
			border: 0.125rem solid $color-lightgray;
			font-family: 'Roboto', sans-serif;
			height: 1.75rem;
			width: 12.5rem;
			padding: 0 0.25rem;

			transition: all 0.2s;

			&:hover {
				border-color: $color-lightgray-d;
			}
			&:focus {
				border-color: $color-gray;
			}
		}

		#results {
			width: 20rem;
			position: absolute;
			top: 2.125rem;
			right: 0rem;
			border: 0.125rem solid $color-gray;
			box-shadow: 0 0 1rem rgba(50,50,50,0.1875);
			height: 5rem;
			background-color: #fff;
			opacity: 0;
			pointer-events: none;

			transition: 0.2s;

			&::before, &::after {
				content: '';
				display: inline-block;
				position: absolute;
				right: 0.25rem;
				top: -0.5rem;
				border-left: 0.5rem solid transparent;
				border-right: 0.5rem solid transparent;
				border-bottom: 0.5rem solid $color-gray;
				opacity: 0;
				pointer-events: none;
				transition: all 0.2s;
			}
			&::after {
				border-left: 0.35rem solid transparent;
				border-right: 0.35rem solid transparent;
				border-bottom: 0.35rem solid #ffffff;
				left: 16.7rem;
				margin-left: 2rem;
				position: relative;
				top: -5.7rem;
			}

			#resultsBox {
				overflow-y: auto;
				width: 100%;
				height: 100%;
				padding: 0.25rem 0;

				#noResults {
					height: 100%;
					line-height: 100%;
					text-align: center;
					padding-top: 1.75rem;
					&:hover {
						background-color: #fff;
					}
				}

				div {
					padding: 0 1rem;
					cursor: default;
					font-family: 'Roboto', sans-serif;

					&:hover {
						background-color: $color-lightgray;
					}
				}
			}

		}
	}
	#search.show-results {
		input {
			border-color: $color-gray;
		}
		#results, #results::before, #results::after {
			opacity: 1;
			pointer-events: all;
		}
	}
}

#html {
	width: 60%;
	margin: 1rem auto;
}







